@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Cairo:wght@400;600;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins','Cairo',sans-serif;
}

body{
background:#0b0f19;
color:#fff;
padding-bottom:90px;
}

.header{
background:#111827;
padding:25px 20px;
text-align:center;
box-shadow:0 4px 15px rgba(0,0,0,.4);
}

.header h2{
font-size:42px;
font-weight:700;
margin-bottom:8px;
}

.header p{
font-size:18px;
color:#cbd5e1;
}

.packages{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:18px;
padding:20px;
}

.card{
background:#1f2937;
border-radius:22px;
padding:12px;
cursor:pointer;
transition:.3s;
}

.card:hover{
transform:translateY(-5px);
background:#374151;
}

.card img{
width:100%;
display:block;
border-radius:16px;
}

.wallet{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,.75);
justify-content:center;
align-items:center;
z-index:9999;
}

.wallet-box{
background:#fff;
width:90%;
max-width:420px;
border-radius:20px;
padding:25px;
text-align:center;
color:#111827;
animation:pop .3s ease;
}

@keyframes pop{
from{
transform:scale(.8);
opacity:0;
}
to{
transform:scale(1);
opacity:1;
}
}

.wallet-box h2{
margin-bottom:10px;
}

.wallet-box p{
margin-bottom:15px;
color:#666;
}

.wallet-box input{
width:100%;
height:50px;
padding:10px;
border:2px solid #e5e7eb;
border-radius:12px;
font-size:15px;
margin-bottom:15px;
}

.wallet-box button{
width:100%;
height:50px;
border:none;
border-radius:12px;
background:#2563eb;
color:#fff;
font-size:16px;
font-weight:700;
cursor:pointer;
margin-top:10px;
}

.bottom{
position:fixed;
bottom:0;
left:0;
width:100%;
height:75px;
background:#111827;
display:flex;
justify-content:space-around;
align-items:center;
border-top:1px solid rgba(255,255,255,.08);
box-shadow:0 -5px 20px rgba(0,0,0,.4);
z-index:999;
}

.item{
flex:1;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
color:#9ca3af;
transition:.3s;
cursor:pointer;
}

.item i{
font-size:23px;
margin-bottom:4px;
}

.item span{
font-size:12px;
}

.item.active{
color:#fff;
}

.item.active i{
background:#fff;
color:#111827;
width:42px;
height:42px;
border-radius:14px;
display:flex;
justify-content:center;
align-items:center;
box-shadow:0 5px 15px rgba(255,255,255,.2);
}

.item:hover{
color:#fff;
transform:translateY(-3px);
  }
